<form class="new_ideas" action="/ideas/<%=@idea.id%>" method="post">
<input type="hidden" name="_method" value="put"/>
  
  <div>
  <label for="">Title: </label>
  <input name="title" type="text" value="<%=@idea.title%>">
  </div>

  <div>
  <label for="">Category: </label>
  <select name="category_id">
    <option value="0">Select Category</option>
    <%@categories.each do |category|%>
    <option value="<%=category.id%>"><%=category.name%></option>
    <%end%>
  </select>
  </div>
 
  <div>
  <label for="">Description: </label>
  <textarea name="description" type="text" rows="4" cols="50" value="<%=@idea.description%>"></textarea>
  </div>
  <button>save</button>
</form>