<div class="detail_page page">
  <h1>Let Me Help You To Fix Your Problem!</h1>
  <p>Writer: <%=@user.name%></p>
  <p>Title: <%=@idea.title%></p>
  <p>How to fix this problem? <%=@idea.description%></p>
  
  <%if logged_in? && @idea.user_id == current_user.id%>
    <div>
      <form action="/ideas/<%=@idea.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="button button--delete">Delete</button>
        <a class="button" href="/ideas/detail/<%=@idea.id%>/edit">Edit</a>
      </form>
    </div>    
  <%end%>

  <h3>Comments</h3>
  <%@comments.each do |comment|%>
    <div class="comment alternating_background">
      <%commenter = User.find_by(id: comment.user_id)%>
      <p><strong><%=commenter.name%></strong>:</p>
      <p><%=comment.content%></p>
    </div>
  <%end%>

  <form action="/comment/<%=@idea.id%>" method="post">
    <% if logged_in?%>
      <h4>Share your thoughts</h4>
      <textarea name="comment" type="text" rows="7"></textarea>
      <div class="flex-end">
        <button class="button">share</button>
      </div>
    <%else%>
     <p><em>You need to <a href="/login">login</a> to comment</em></p>
    <%end%>
  </form>
</div>
