<div class="detail_page page">
  <div class="detail_page_header">
  <h1><%=@idea.title%></h1><p><a class="goback" href="javascript:history.back()">Go Back</a></p>
  </div>
  <p>By <%=@user.name%></p>
  <p><strong>How?</strong></p>
  <p><%=@idea.description%></p>
  
  <%if logged_in? && @idea.user_id == current_user.id%>
    <div>
      <form action="/ideas/<%=@idea.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="button button--delete">Delete</button>
        <a class="button" href="/ideas/<%=@idea.id%>/edit">Edit</a>
      </form>
    </div>    
  <%end%>

  <h3>Comments</h3>
  <%@comments.each do |comment|%>
    <div class="comment alternating_background">
      <%commenter = User.find_by(id: comment.user_id)%>
      <p><strong><%=commenter.name%></strong>:</p>
      <p><%=comment.content%></p>
    </div>
  <%end%>

  <form action="/comment/<%=@idea.id%>" method="post">
    <% if logged_in?%>
      <h4>Share your thoughts</h4>
      <textarea name="comment" type="text" rows="7"></textarea>
      <div class="flex-end">
        <button class="button">share</button>
      </div>
    <%else%>
     <p><em>You need to <a href="/login">login</a> to comment</em></p>
    <%end%>
  </form>
</div>
